div {

}

body {
    margin: 0;
    padding: 0;
}

.avatar {
    position: absolute;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.avatar {
    
    background-color: #fff;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    top: 90px;
    left: 5vw;
}

.code {
    display: flex;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 10px;
}

.lbar {
    display: flex;
    align-items: center;

    width: fit-content;
}

.lbar p {
    margin: 0;
    margin-right: 10px;

    font-family: monospace;
}

.lbar i {
}

.rbar {
    display: flex;
    align-items: center;
    width: 16vw;
    width: fit-content;
}

.rbar p {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-family: monospace;
}

.rbar i {
    padding-left: 10px;
}

@media (max-width: 768px) {
    .rbar {
        width: 30%;
    }

    .rbar p {
        margin-right: 5px;
    }

    .rbar i {
        padding-left: 5px;
    }
}





.content {
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    padding: 10px;
    padding-top: 11vw;
    background-color: #333;
}

.content p {
    margin: 0;
    padding: 10px;
    font-size: 10px;
    font-family: monospace;
    color: #fff;
}

.titlebox {
    
    border: 1px solid #000;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    box-shadow: 0 4px #000;
}

.logo {
    width: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.slogo {
    display: flex;
}