* {
    text-decoration: none;
    margin: 0;
}
a {
    color: white;
}
div {
    border: 1px solid black;
}
.navbar {
    background-color: #1D80C2;
    font-family: calibri;
    width: 100%;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.logo {
    font-family: calibri;
    font-size: 30px;
    font-weight: 1000;
}
.bar li {
    list-style: none;
    display: inline-block;
    padding-right: 80px;
    font-size: 20px;
}
.home {
    width: 100%;
    height: 580px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282C33;
    flex-wrap: wrap;
}
.content {
    margin-left: auto;
    font-size: 20px;
    font-family: calibri;
    text-align: center;
    padding-right: 20px;
    height: fit-content;
    align-items: center;
}
.content p {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.container {
    width: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
}
@keyframes type-text {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}
.container h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: solid 10px green;
    animation: type-text forwards 5s;
}
.img {
    height: 200px;
    width: fit-content;
    margin-right: auto;
    padding-left: 10px;
}
.img img {
    height: 100%;
    border-radius: 100%;
}
.link {
    width: 50px;
    padding-top: 10px;
}
.ul a {
    padding-left: 5px;
    padding-right: 5px;
}

.Aboutme {
    width: 100%;
    height: 580px;
}

/* Media Queries */
@media (max-width: 768px) {
    div {
        border: 1px solid black;
    }
    .navdiv {
        flex-direction: column;
        width: 100vw;
    }
    .bar li {
        padding-right: 20px;
        font-size: 16px;
    }
    .home {
        flex-direction: column;
        height: auto;
        display: inline-grid;
        width: 100vw;
        align-items: center;
        text-align: center;
    }
    .content {
        padding-left: 10px;
        font-size: 10px;
        align-items: center;
    }
    .content p {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container {
        align-items: center;
    }
    .img {
        height: 150px;
    }
    .link {
        width: 40px;
    }
}
